<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3069e8e4-b69a-40d9-805a-f8bed29ff976/resourceGroups/school/providers/Microsoft.Web/sites/vietsac</ResourceId>
    <ResourceGroup>school</ResourceGroup>
    <ApiResourceId>/subscriptions/3069e8e4-b69a-40d9-805a-f8bed29ff976/resourceGroups/school/providers/Microsoft.ApiManagement/service/VietSacBackendapi/apis/VietSacBackend</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://vietsac.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>74ee044b-e376-4549-b4fa-754cac7828eb</ProjectGuid>
    <MSDeployServiceURL>vietsac.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>vietsac</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$vietsac</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>true</SelfContained>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAd/hqw1htOkiFJQdnPmVYrgAAAAACAAAAAAAQZgAAAAEAACAAAAAnVRIREvISzKIb/sLQla5Ka6hi3b3Wo43WVI50QxCx5QAAAAAOgAAAAAIAACAAAABClVBGxdH/mtvUwPTQfwqaKJNxwnCw+UcLaFli9/AG8iAAAAB8onb86AUbv5TUfFEWReLQZ+bFNupl5ZXM+AZDFe8B4kAAAADAm1jJpcmKSAM+Ptl+qyeOKxOYDyBVNkoWdPgOfI24dr2ZnN9pihX9lj0Ou8Jvnbdu+xx1Adjw//axI94Rfq8l</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
    <PublishSingleFile>true</PublishSingleFile>
    <RemoteSitePhysicalPath />
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>